# PROJECT-3. EDA + Feature Engineering. Соревнование на Kaggle

## Знакомство с данными

In [25]:
import pandas as pd

hotels = pd.read_csv('data/hotels.csv')
hotels.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060

Первоначальная версия датасета содержит 17 полей со следующей информацией:

* hotel_address — адрес отеля;
* review_date — дата, когда рецензент разместил соответствующий отзыв;
* average_score — средний балл отеля, рассчитанный на основе последнего комментария за последний год;
* hotel_name — название отеля;
* reviewer_nationality — страна рецензента;
* negative_review — отрицательный отзыв, который рецензент дал отелю;
* review_total_negative_word_counts — общее количество слов в отрицательном отзыв;
* positive_review — положительный отзыв, который рецензент дал отелю;
* review_total_positive_word_counts — общее количество слов в положительном отзыве.
* reviewer_score — оценка, которую рецензент поставил отелю на основе своего опыта;
* total_number_of_reviews_reviewer_has_given — количество отзывов, которые рецензенты дали в прошлом;
* total_number_of_reviews — общее количество действительных отзывов об отеле;
* tags — теги, которые рецензент дал отелю;
* days_since_review — количество дней между датой проверки и датой очистки;
* additional_number_of_scoring — есть также некоторые гости, которые просто поставили оценку сервису, но не оставили отзыв. Это число указывает, сколько там действительных оценок без проверки.
* lat — географическая широта отеля;
* lng — географическая долгота отеля.

Задание 2.1
В каких столбцах данные содержат пропущенные значения?

In [26]:
hotels_columns = hotels.columns
nan_columns = list()
for elem in hotels_columns:
    if hotels[elem].isnull().sum() > 0:
        nan_columns.append(elem)
        continue
    else:
        continue
    
print(f'Столбцы {nan_columns} содержат пропущенные значения.')

Столбцы ['lat', 'lng'] содержат пропущенные значения.

Задание 2.2
В каких столбцах данные хранятся в числовом формате?

In [53]:
numtype_columns = list()
numtype = ['int8', 'int16', 'int32', 'int64', 'uint8', 'uint16', 'uint32', 'uint64', 'float16', 'float32', 'float64']
for elem in hotels_columns:
    if hotels.dtypes[elem] in numtype:
        numtype_columns.append(elem)
        continue
    else:
        continue
    
display('Столбцы с числовым форматом данных:', numtype_columns)

'Столбцы с числовым форматом данных:'

['additional_number_of_scoring',
 'average_score',
 'review_total_negative_word_counts',
 'total_number_of_reviews',
 'review_total_positive_word_counts',
 'total_number_of_reviews_reviewer_has_given',
 'reviewer_score',
 'lat',
 'lng']

Задание 2.3
В каких столбцах данные представляют собой строки?

In [57]:
strtype_columns = list()
strtype = ['object', 'category']
for elem in hotels_columns:
    if hotels.dtypes[elem] in strtype:
        strtype_columns.append(elem)
        continue
    else:
        continue
    
display('Столбцы с строковыми форматами данных:', strtype_columns)

'Столбцы с строковыми форматами данных:'

['hotel_address',
 'review_date',
 'hotel_name',
 'reviewer_nationality',
 'negative_review',
 'positive_review',
 'tags',
 'days_since_review']

In [ ]:
'''hotels_columns = hotels.columns
strtype_columns = list()
strtype = ['object', 'category']
for elem in hotels_columns:
    if hotels.dtypes[elem] in strtype:
        strtype_columns.append(elem)
        continue
    else:
        continue
hotels = hotels.drop(strtype_columns, axis=1)

hotels_columns = hotels.columns
nan_columns = list()
for elem in hotels_columns:
    if hotels[elem].isnull().sum() > 0:
        nan_columns.append(elem)
        continue
    else:
        continue

hotels = hotels.replace({col: {np.nan: hotels[nan_columns].mode()} for col in nan_columns})

hotels.info()'''